@model Finances.Models.Entities.Expense
@{
    ViewBag.Title = "New";
}

<h2>Nova despesa</h2>
<form action="/Expenses/New" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="price">Valor</label>
            <input type="text" name="price" placeholder="Valor" pattern="[0-9,]*" class="form-control" />

        </div>
        <div class="form-group">
            <label for="date">Data</label>
            <input type="date" name="date" placeholder="Data" class="form-control" />

        </div>
        <div class="form-group">
            <label for="id_category">Categoria</label>
            <select name="id_category">
                @foreach (var item in (ViewBag.categories as IEnumerable<Finances.Models.Entities.Category>))
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>

        </div>
        <div class="form-group">
            <label for="id_establishment">Estabelecimento</label>
            <select name="id_establishment">
                @foreach (var item in (ViewBag.establishments as IEnumerable<Finances.Models.Entities.Establishment>))
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>

        </div>
        <input type="submit" class="btn btn-success" value="Salvar" />
    </div>
</form>

