@model Finances.Models.Entities.Establishment

@{
    ViewBag.Title = "Index";
}

<h2>Novo estabelecimento</h2>

<form method="post" action="/Establishments/New">


    <div class="form-horizontal">
        <h4>Estabelecimento</h4>
        <hr />
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Nome" class="form-control" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>


