body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toast{
    width:200px !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar{
    background:#057900;
    color:white !important;
}
.navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-brand {
    color:white !important;
}

.optblock{
    border:1px solid #CCC;
    border-radius: 10px;
    padding:30px;
}

.col-md-4{
    padding:10px !important
}